.main-sidebar {
	float: left;
	width: 18%;
	height: 100vh;
	background-color: #e3e3e3;
}

.brand-image {
	width: 100%;
	background-color: #009980;
}

.mt-2 {
	width: 100%;
}

.nav-item {
	width: 100%;
}

p {
	margin: 5px;
}

.main-footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 0 0 10px 240px;
}