<div class="wrapper">

  <aside class="main-sidebar elevation-4 sidebar-dark-maroon">
    <!-- Brand Logo -->
    <img src="assets/logo-white.png" alt="Sweet Hair Logo" class="brand-image mt-0">

    <div class="sidebar">

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	        <li class="nav-item">
	            <a href="/" class="nav-link">
              		<p>Início</p>
	            </a>
	        </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          	<li class="nav-item">
            	<a href="/favoritos" class="nav-link">
              		<p>Favoritos</p>
            	</a>
          	</li>
        </ul>
      </nav>

    </div>


  </aside>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer class="main-footer">
    Criado por <b>Arthur Santos do Nascimento</b> 2020
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0
    </div>
  </footer>

</div>